name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-lint-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.14"]
    steps:
      - uses: actions/checkout@v6

      - name: Install the latest version of uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      # Set up a cache for prek.
      - name: Setup cache
        uses: actions/cache@v5
        with:
          path: ~/.cache/prek
          key: >
            prek-v1|
            ${{ runner.os }}|${{ runner.arch }}|${{ matrix.python-version }}|
            ${{ hashFiles('**/.pre-commit-config.yaml') }}

      - name: Prek lint
        run: |
          uv run --frozen --extra dev -- prek run --all-files --show-diff-on-failure --color=always

      - name: Test with python ${{ matrix.python-version }}
        run: uv run --frozen --extra dev -- pytest --cov=./ --cov-report=xml

      - name: Upload coverage report to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
